    html,head,body,div{
    margin: 0;
        padding: 0;
}
    html,body{
        height: 100%;
        width: 100%;
    }
#red {
    background-color: red;
    width: 100%;
    position: relative;
    height: 100px;
}
.parent{
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 100%;
}
#yellow,#green,#blue{
    position: relative;
    width: 33.333%;
    float: left;
    height: 100%;
}

#yellow {
    background:yellow;
}

#green{
    background: green;
}
#blue{
    background: blue;
}

#purple{
    background-color: purple;
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
}
